<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GetQuickResume E2E Tests" parallel="classes" thread-count="2">
    
    <listeners>
        <listener class-name="com.getquickresume.config.ExtentReportListener"/>
    </listeners>

    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.getquickresume.tests.LandingPageTest"/>
            <class name="com.getquickresume.tests.NavigationTest"/>
            <class name="com.getquickresume.tests.SeoLandingPagesTest"/>
            <class name="com.getquickresume.tests.LoginPageTest"/>
            <class name="com.getquickresume.tests.BlogTest"/>
        </classes>
    </test>

    <test name="All Tests">
        <classes>
            <class name="com.getquickresume.tests.LandingPageTest"/>
            <class name="com.getquickresume.tests.NavigationTest"/>
            <class name="com.getquickresume.tests.SeoLandingPagesTest"/>
            <class name="com.getquickresume.tests.LoginPageTest"/>
            <class name="com.getquickresume.tests.BlogTest"/>
        </classes>
    </test>
</suite>
